h1 {
    background: linear-gradient(to right, #F53803, #F5D020);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    width: 200px;
    margin: 30px auto;
}